* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.events {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.eventlist {
  list-style: none;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -10px rgb(97, 97, 97, 0.75);
  padding: 10px;
}
.eventlist > li {
  padding: 1em;
  margin: 3em;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -10px rgb(97, 97, 97, 0.75);
}
.eventlist > li:hover {
  scale: 110%;
}

.current {
  scale: 110%;
  border-left: 5px solid green;
}

.gallery {
  display: grid;
  place-items: center;
}
.gallery-inner {
  border-radius: 10px;
  box-shadow: 0px 0px 30px -10px rgb(97, 97, 97, 0.75);
  padding: 10px;
}
#galleryCarousel .carousel-item > img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
